## Projeto 1

   Em quais características certo grupo de aposentados está melhor(ou pior ou
igual) do que algum outro grupo de comparação?”

   Nesse projeto, que visa conhecer a condição de vida dos aposentados no Brasil, o critério utilizado
para atender tal objetivo é o seguinte: Primeiro, será feita uma analise estadual que comporta os serviços 
realizados por diferentes integrantes da população brasileira em diversos Estados. A seguir, será feito um levantamento da renda domiciliar, também por Estado, para averiguar se os Estados cuja renda é mais baixa, são
aqueles onde a população trata de serviços mais modestos. Por fim, será traçada uma relação entre a situação 
da população citada acima, com aqueles aposentados, a fim de identificar o Estado cujos aposentados vivem melhor,
além de ter sido averiguado o motivo dessa superioridade.

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import os

In [3]:
dados = pd.read_table("pes2013A.txt",sep = " ")

In [4]:
dados["Regiao"] = dados.UF
dados.Regiao[dados.UF <=16]="Norte"
dados.Regiao[(dados.UF >=17) & (dados.UF <=29)]="Nordeste"
dados.Regiao[(dados.UF >=31) & (dados.UF <=35)]="Sudeste"
dados.Regiao[(dados.UF >=41) & (dados.UF <=43)]="Sul"
dados.Regiao[(dados.UF >=50) & (dados.UF <=53)]="Centro-Oeste"

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,V0101,UF,V0102,V0103,V0301,V0302,V8005,V0404,V4011,V0412,...,V4707,V4809,V4810,V4711,V4718,V4720,V4742,V4750,V4729,Regiao
1,2013,11,15,3,1,4,42,2,5,2,...,NaN,NaN,NaN,NaN,NaN,350,350,350,244,Norte
2,2013,11,15,4,1,4,64,8,7,2,...,NaN,NaN,NaN,NaN,NaN,678,339,339,243,Norte
3,2013,11,15,4,2,4,13,4,0,2,...,NaN,NaN,NaN,NaN,NaN,0,339,339,243,Norte
4,2013,11,15,5,1,2,23,8,0,2,...,3,5,5,1,800,800,266,266,243,Norte
5,2013,11,15,5,2,4,19,8,0,2,...,NaN,NaN,NaN,NaN,NaN,0,266,266,243,Norte

In [ ]:
aposentados = dados[(dados.V8005 >= 65)] #coluna apenas com os cidadãos aposentdos
ativos = dados[(dados.V8005 >= 23)&(dados.V8005 < 65)] #coluna apenas com os cidadãos economicamente ativos
renda = dados[(dados.V4742 != 999999999999)]
raca = dados[(dados.V0404)]
trabalhos = dados[(dados.V4809)] #coluna que lista as diferentes ocupações da população ativa

In [ ]:
estado = dados.Regiao.astype('category',ordered = True)
estado.cat.categories = ("Norte","Nordeste","Sudeste","Sul","Centro-Oeste")
trabalho.cat.categories = ("Agrícola","Atividades Industriais","Industria de Transformação","Construção","Comércio e Reparação","Alojamento e Alimentação","Trans/Armaz/Comuni","AP","EDS/Social_Serv","Outros/Soc","Outros","Mal-Def")
pd.crosstab(trabalho,estado) #crosstab que lista os empregos por Estado, a fim de averiguar os mais recorrentes

In [ ]:
trabalho.cat.categories = ("Agrícola","Atividades Industriais","Industria de Transformação","Construção","Comércio e Reparação","Alojamento e Alimentação","Trans/Armaz/Comuni","AP","EDS/Social_Serv","Outros/Soc","Outros","Mal-Def")
pd.crosstab(renda,trabalho) #crosstab que busca averiguar quais os empregos que pagam menos

In [ ]:
renda_aposentados = renda[(renda.aposentados)]
renda_final = renda_aposentados.Regiao.value_counts(True)*100 #computa os valores de renda dos aposentados por Estado

In [ ]:
#com esse gráfico será possível ver a renda dos aposentados por Estado a fim de estipular uma comparação
renda_final.plot(kind='pie',legend=False,title='Renda dos Aposentados por Estado')

In [ ]:
dados["Norte"] = dados.Regiao[dados.UF <=16]
dados["Nordeste"] = dados.Regiao[(dados.UF >=17) & (dados.UF <=29)]
dados["Sul"] = dados.Regiao[(dados.UF >=41) & (dados.UF <=43)]
dados["Sudeste"] = dados.Regiao[(dados.UF >=31) & (dados.UF <=35)]
dados["Centro_Oeste"] = dados.Regiao[(dados.UF >=50) & (dados.UF <=53)]

   A seguir, serão plotados histogramas da faixa etária dos aposentados por Estado, a fim de ver qual a maior 
expectativa de Vida, e buscar uma relação com os empregos daquele Estado.

In [ ]:
aposentados.dados.Norte.plot.hist(title = "Faixa Etária dos Aposentados no Norte")
aposentados.dados.Norte.describe()

In [ ]:
aposentados.dados.Nordeste.plot.hist(title = "Faixa Etária dos Aposentados no Nordeste")
aposentados.dados.Nordeste.describe()

In [ ]:
aposentados.dados.Sul.plot.hist(title = "Faixa Etária dos Aposentados no Sul")
aposentados.dados.Sul.describe()

In [ ]:
aposentados.dados.Sudeste.plot.hist(title = "Faixa Etária dos Aposentados no Sudeste")
aposentados.dados.Sudeste.describe()

In [ ]:
aposentados.dados.Centro_Oeste.plot.hist(title = "Faixa Etária dos Aposentados no Centro-Oeste")
aposentados.dados.Centro_Oeste.describe()

   Por fim, serão feitos levantamentos de renda de aposentados por raça, seguidos de um box plot que retrata a média de renda no Brasil. Assim será possível observar se há uma disparidade racial quanto à renda domiciliar do aposentado
brasileiro

In [ ]:
raca_aposentados = dados[dados.0404]
raca.cat.categories = ("Brancos","Negros","Amarelos","Pardos","Indígenas","NDA")
pd.crosstab() #crosstab de renda por raça

In [ ]:
renda_aposentados.plot(kind='box', legend=False,title='Renda Domiciliar dos Brasileiros') #box plot com a renda dos aposentados a fim de comparar com os resultados do crosstab

## Conclusão